// Colors
$clr1: #e01e5a;
$clr2: #293241;
$clr3: #5c3fc5;
$clr4: #696969;
$clr5: #e6e9ec;

// $clr-base-1: #ffffff;
$white-color: #ffffff;
$gray-color: #a6a6a6;

// Primary Colors
$primary-color: #2196F3;
$primary-dark-color: #1565C0;
$primary-light-color: #BBDEFB;

// Secondary Colors
$secondary-color: #FF9800;
$secondary-dark-color: #F57C00;
$secondary-light-color: #FFCC80;

// Neutral Colors
$neutral-color: #E0E0E0;
$neutral-dark-color: #757575;
$neutral-light-color: #F5F5F5;



$clr-base-1: #ffffff;
// $clr-base-2: #E9E84F;
$clr-base-2: #e1e16c;
$clr-base-3: #9A9998;
$clr-base-4: #696C6D;
$clr-base-5: #242529;
$clr-base-6: #131519;
$clr-base-7: #000000;

$app-padding: 1.5rem;
$header-height: 70px;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;