.login-signup {
  background-color: $clr-base-5;
  height: 100%;
  padding: 1.5em;
  border-radius: 1.5em;
  h2 {
    font-size: rem(16px);
    margin-bottom: 0.5em;
  }
  form {
    display: flex;
    // flex-direction: column;
    max-width: 400px;
    gap: .5rem;

    input {
      height: 3rem;
      padding: 1rem;
      border-radius: 6px;
      border: 1px solid $clr-base-1;
      background-color: $clr-base-4;
      margin-bottom: 1.5em;
      color: $clr-base-1;
      font-size: 1rem;

      &:focus-visible {
        outline: none;
      }
    }

    button {
      height: 3rem;
      width: 5rem;
      border-radius: 6px;
      background-color: $clr-base-2;
      font-size: 1rem;
    }
  }
}
